---
---

@import "{{ site.theme }}";
.inner {
    width: 70vw;
    margin: 0 auto;
}
hr {
  height: 1px;
  padding-bottom: 0em;
  margin-top: 1em;
  line-height: 1px;
  background: transparent url('../images/hr.png') 50% 0 / 100% 1px no-repeat;
  border: none;
}
.footer-inner hr {
    padding-bottom: 0;
}
.footer-inner {
    position:fixed;
    top: 87vh;
    padding-left: 10%;
    padding-right: 10%;
    background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
    width:100%;
    height:13vh;
    z-index: 999;

}
footer {
    padding-top: 3px;
    padding-bottom: 30px;
    padding-left: 10px;
    margin-top: 0;
    font-size: 13px;
    z-index: 1000;
    color: #aaa;
    background:inherit;
    z-index: 1001;
}
.topmost-header {
    position:fixed;
    top:0;
    width:100%;
    z-index: 1000;
    anchor-name: --my-anchor;
    background: #e7e7e7 url(../images/topbar-bg.png) 0 0 repeat;
}
@keyframes sidebar-slide {
    from {width: 0; opacity: 0; overflow: hidden; white-space: nowrap;}
    to {width:7vw; opacity: 100%; overflow:auto; white-space: nowrap;}
}
.sidebar-animate {
    animation-name: sidebar-slide;
    animation-duration: 1s;
}
.sidebar {
    background-color: #171717;
	color: #FDFDFB;
    width:7vw;
    float:left;
    position:fixed;
	border: 1px solid #000;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 20px 25px 22px 30px;
	margin: 7vh 25px 0 0;
	-webkit-font-smoothing: antialiased;
    white-space: wrap;
}
.sidebar .site-title {
    font-size: 15px;
    font-weight: bold;
    color: #FDFDFB;
}
.sidebar .site-title:hover {
    color: #ffffe7;
    font-size: 17px;
    // background-color: #bcf0f650;
}
.sidebar hr{
    height: 1px;
    padding-bottom: 0em;
    margin-top: 0.5em;
    line-height: 1px;
    background: #d6d6d6 50% 0 / 100% 1px no-repeat;
    border: none;
}
.nav-item{
    font-size: 15px;
    font-weight: bold;
    color: #FDFDFB;
}
.nav-item:hover {
    color: #cdcdcc;
    // text-decoration: underline;
    font-size: 17px;
    background-color: #bcf0f650;
}
.nav-items {
    display: flex;
    flex-direction: column;
}
.socials {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.social-icon {
    width: 30px;
    height: 30px;
}
.social-icon :hover {
    opacity: 75%;
    width: 33px;
    height: 33px;
}

@keyframes header-type {
    from {width: 0; overflow: hidden; white-space: nowrap;}
    to {width: 100%; overflow: auto; white-space: wrap;}
}
header h1 {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 48px; font-weight: 900;
  line-height: 1.2;
  color: #303030;
  letter-spacing: -1px;
  animation-name: header-type;
  animation-duration: 3s;
}
header h2 {
  animation-name: header-type;
  animation-duration: 3s;
}
header {
    padding-bottom: 10px;
}
#main_content {
    position:absolute;
    margin-top: anchor-size(--my-anchor height);
    height: calc(87vh - anchor-size(--my-anchor height));
    overflow-y: auto; 
    padding-top: 15px;
    padding-right: 15vw;
    font-size: 18px;
}
